<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <YAV_ContactPage>
            <version>0.1.0</version>
        </YAV_ContactPage>
    </modules>
    <global>
        <blocks>
            <ContactPage>
                <class>YAV_ContactPage_Block</class>
            </ContactPage>
        </blocks>
        <helpers>
            <ContactPage>
                <class>YAV_ContactPage_Helper</class>
            </ContactPage>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <ContactPage module="ContactPage">
                    <file>ContactPage.xml</file>
                </ContactPage>
            </updates>
        </layout>
    </frontend>
    <admin>
    </admin>
    <adminhtml>
    </adminhtml>
    <default>
        <ContactPage>
            <settings>
                <enabled>1</enabled>
                <zoom>16</zoom>
                <!--<address>Address</address>-->
                <!--<phone>+46846135646</phone>-->
                <!--<latitude>-34.398</latitude>-->
                <!--<longitude>150.884</longitude>-->
            </settings>
        </ContactPage>
    </default>
</config>